body {
  background-image: url("../Images/Fons.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #333;
  font-family: Arial, sans-serif;
}
h3{
   color: #0b852d
}


.satura-konteiners {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.nodala {
  display: none; 
  padding: 20px 0;
}


